*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color:#4891ff;
    --light-color:#f4f4f6;
    --dark-color:#111;
}
body{
    font-family: 'poppins',sans-serif;
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: #333;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
/* navbar */
.navbar{
    padding: 20px;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .main-menu ul{
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar ul li a{
    font-weight: 600;
    display: block;
    padding: 10px 20px;
    transition: .5s;
}
.navbar ul li a:hover{
color: var(--primary-color);
}
.navbar ul li:last-child a{
    margin-left: 10px;
}
.navbar ul li a i{
    margin-right: 10px;
}

.hero .container{
  background: url('/images/hero-bg.png') no-repeat ;
  background-size: contain;  
  background-position: center bottom;
  height: 550px;

}
.hero .hero-content{
    width: 70%;
}
.hero .hero-text{
    width: 70%;
    margin-bottom: 10px;
}

/* video Section */
.video{
    padding: 10px 0 40px;
}

.video-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-priview{
    margin-bottom: 20px;
}

/* testimonials */
.testimonials{
    padding: 50px 0px;
}
.testimonials-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.testimonials .card p:nth-child(2){
    margin-top: 30px;
    font-weight: bold;
}


/* Pricing */
.pricing .pricing-grid{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.pricing .pricing-card-subheading{
margin-bottom: 30px;
}
.pricing .pricing-card-price{
    margin-bottom: 30px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.pricing .pricing-card-body li{
    margin-bottom: 6px;
}

/* FAQ */
.faq{
    padding: 40px 0;
}
.faq .faq-menu{
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.faq .faq-menu li{
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}
.faq .faq-menu li.active{
    color: #fff;
    background-color: var(--primary-color);
}
.faq .faq-group{
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}
.faq .faq-group .faq-group-header{
    padding:20px 0;
    margin-bottom: 15px;
    position: relative;;
}
.faq .faq-group .faq-group-header h4{
    font-weight: 600;
    width: 90%;
}
.faq .faq-group .faq-group-header i{
    position: absolute;
    top:40px;
    right: 0;
    font-size: 1.2rem;
    cursor: pointer;
}
.faq .faq-group .faq-group-body {
    display: none;
}
.faq .faq-group .faq-group-body.open{
    display: block;
}

/* Footer */
.footer{
    padding:40px 0;

}
.footer h4{
    margin-bottom: 10px;
}

.footer ul li{
    line-height: 2.5;
}
.footer a{
    color:#ccc
}
.footer i{
    font-size: 1.5rem;
    margin-right: 10px;
}
.footer .footer-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.footer .card{
    margin: 20px 0;
}
.footer input[type='email']{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
}

/* Utility */
.container{
    max-width: 1100px;
    margin: auto;
}
.container-sm{
    max-width: 800px;
    margin: auto;
}
/* buttons */
.btn{
    display: inline-block;
    padding: 13px 20px;
    background-color: var(--light-color);
    border-radius: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .5s;
}
.btn:hover{
    opacity: 0.8;
}
.btn-primary{
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .5s;
}
.btn-dark{
    background-color: var(--dark-color);
    color:#fff;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .5s;
}
.btn-block{
    display: block;
    width: 100%;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .5s;
}
/* text utility */
.text-xxl{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}
.text-xl{
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}
.text-lg{
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}
.text-md{
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}
.text-sm{
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}
.text-center{
    text-align: center;
}
.sec-margin{
    margin-bottom: 50px;
}

/* cards */
.card{
    background: #fff;
    color: var(--dark-color);
    border-radius: 10px;
    padding: 20px;
}
/* background utility */
.bg-primary{
    background-color: var(--primary-color);
    color: #fff;
}
.bg-light{
    background-color: var(--light-color);
    color: #333;
}
.bg-dark{
    background-color: var(--dark-color);
    color: #fff;
}
.bg-black{
    background-color: #000;
    color: #fff;
}


/* Hamburger Button */
.ham-button{
    display: none;
    background:none;
    border: none;
    padding: 10px;
    z-index: 1000;
}
.ham-button .ham-line{
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
}
.mobile-menu{
    position: fixed;
    top: 0;
    right: -300px;
    width: 350px;
    height: 100vh;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 0px 10x rgba(0,0,0,0.2);
    transition: right 0.3s ease-in-out;
}
.mobile-menu.active{
    right: 0;
}
.mobile-menu ul{
    margin-top: 100px;
    padding-right: 10px;
}
.mobile-menu ul li{
    margin: 10px 0;
}
.mobile-menu li a{
    font-size: 20px;
    transition: .3s;
}
@media (max-width:960px){}


@media (max-width:670px){
    .navbar .main-menu{
        display: none;
    }
    .ham-button{
        display: block;
        cursor: pointer;
    }
}


@media (max-width:500px){}
