*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color:#4891ff;
    --light-color:#f4f4f6;
    --dark-color:#111;
}
body{
    font-family: 'poppins',sans-serif;
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: #333;
}
ul{
    list-style: none;
}
/* navbar */
.navbar{
    padding: 20px;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .main-menu ul{
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar ul li a{
    font-weight: 600;
    display: block;
    padding: 10px 20px;
    transition: .5s;
}
.navbar ul li a:hover{
color: var(--primary-color);
}
.navbar ul li:last-child a{
    margin-left: 10px;
}
.navbar ul li a i{
    margin-right: 10px;
}


/* Utility */
.container{
    max-width: 1100px;
    margin: auto;
}
.container-sm{
    max-width: 800px;
    margin: auto;
}
/* buttons */
.btn{
    display: inline-block;
    padding: 13px 20px;
    background-color: var(--light-color);
    border-radius: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .5s;
}
.btn:hover{
    opacity: 0.8;
}
.btn-primary{
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .5s;
}
.btn-dark{
    background-color: var(--dark-color);
    color:#fff;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .5s;
}
.btn-block{
    display: block;
    width: 100%;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .5s;
}